.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.nosotros_container {
  min-height: 70vh;
}

.description p {
  margin: 2rem 0;
}

.img_wrapper {
  min-width: 43rem;
  position: relative;
}
@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}
